<nav class="navbar navbar-expand-lg fixed-top navbar-transparent" color-on-scroll="500">
    <div class="container">

        <div class="navbar-collapse" id="navbarToggler">
            <ul class="navbar-nav ml-auto">
                <li *ngIf="emailUser !== null" class="nav-item">
                    <a class="nav-link" [routerLink]="['/home']"><i class="fa fa-bank" aria-hidden="true"></i>Bienvenido: {{emailUser}}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" rel="tooltip" title="Follow us on Twitter" data-placement="bottom" [routerLink]="['/home']">
                        <i class="fa fa-home"></i>
                        <p class="d-lg-none">Home</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" rel="tooltip" title="Follow us on Twitter" data-placement="bottom" href="#" target="_blank">
                        <i class="fa fa-twitter"></i>
                        <p class="d-lg-none">Twitter</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" rel="tooltip" title="Like us on Facebook" data-placement="bottom" href="#" target="_blank">
                        <i class="fa fa-facebook-square"></i>
                        <p class="d-lg-none">Facebook</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" rel="tooltip" title="Follow us on Instagram" data-placement="bottom" href="#" target="_blank">
                        <i class="fa fa-instagram"></i>
                        <p class="d-lg-none">Instagram</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" rel="tooltip" title="Star on GitHub" data-placement="bottom" href="#" target="_blank">
                        <i class="fa fa-github"></i>
                        <p class="d-lg-none">GitHub</p>
                    </a>
                </li>
                <!--li class="nav-item">
                    <a class="nav-link" [routerLink]="['/learning']"><i class="fa fa-book" aria-hidden="true"></i> Aprende con nosotros</a>
                </li-->
                <li *ngIf="emailUser !== null" class="nav-item">
                    <div ngbDropdown class="d-inline-transparent dropdown">
                        <a class="nav-link" id="dropdownBasic1" ngbDropdownToggle><i class="fa fa-camera-retro" aria-hidden="true"></i>Galer&iacute;a</a>

                        <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="dropdown-transparent">
                            <a [routerLink]="['/retratos']" class="dropdown-item">Retratos</a>
                            <a [routerLink]="['/naturaleza']" class="dropdown-item">Naturaleza</a>
                            <a [routerLink]="['/viajes']" class="dropdown-item">Viajes</a>
                        </div>
                    </div>
                </li>
                <li *ngIf="emailUser !== null" class="nav-item">
                    <a class="nav-link" [routerLink]="['/comunidad']"><i class="fa fa-heart" aria-hidden="true"></i> Apoya a la comunidad</a>
                </li>
                <li *ngIf="!(emailUser !== null)" class="nav-item">
                    <a class="nav-link" [routerLink]="['/signup']"><i class="fa fa-key" aria-hidden="true"></i> Ingresar </a>
                </li>

                <li *ngIf="emailUser !== null" class="nav-item">
                    <a class="nav-link" (click)="salir()"><i class="fa fa-sign-out" aria-hidden="true"></i>Logout</a>
                </li>





            </ul>
        </div>
    </div>
</nav>