<div class="wrapper">
    <div class="page-header" style="background-image: url('./assets/img/login-image.jpg');">
        <div class="filter"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-sm-6 mr-auto ml-auto">
                    <div class="card card-register">
                        <h3 class="title">Bienvenido</h3>
                        <div class="social-line text-center">
                            <a href="#pablo" class="btn btn-neutral btn-facebook btn-just-icon">
                                <i class="fa fa-facebook-square"></i>
                            </a>
                            <a href="#pablo" class="btn btn-neutral btn-google btn-just-icon">
                                <i class="fa fa-google-plus"></i>
                            </a>
                            <a href="#pablo" class="btn btn-neutral btn-twitter btn-just-icon">
                                <i class="fa fa-twitter"></i>
                            </a>
                        </div>
                        <form class="register-form" #f="ngForm" (ngSubmit)="login( f )">
                            <label>Email</label>
                            <div class="input-group form-group-no-border" [ngClass]="{'input-group-focus':focus===true}">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                      <i class="nc-icon nc-email-85"></i>
                                  </span>
                                </div>

                                <input class="form-control" type="email" name="email" [(ngModel)]="usuario.email" required email placeholder="Email">
                                <span *ngIf="f.submitted && f.controls['email'].errors" class="text-danger animated fadeIn">El correo es obligatorio</span>

                            </div>

                            <label>Password</label>
                            <div class="input-group form-group-no-border" [ngClass]="{'input-group-focus':focus1===true}">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                      <i class="nc-icon nc-key-25"></i>
                                  </span>
                                </div>

                                <input type="password" class="form-control" placeholder="Password" name="password" [(ngModel)]="usuario.password" minlength="6" required>
                                <span *ngIf="f.submitted && f.controls['password'].errors" class="text-danger animated fadeIn">El correo es obligatorio</span>
                            </div>
                            <button class="btn btn-danger btn-block btn-round" type="submit">Login</button>
                            <button class="btn btn-danger btn-block btn-round" (click)="goToRegister()">Register</button>

                        </form>
                        <div class="forgot">
                            <a href="#" class="btn btn-link btn-danger">Forgot password?</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer register-footer text-center">
                <h6>&copy;{{test | date: 'yyyy'}}, made with <i class="fa fa-heart heart"></i> by AEV</h6>
            </div>
        </div>
    </div>
</div>